
body {
    background-color: gainsboro;
    font-family:"Roboto Mono", courier, monospace;
    text-align: center;
}

h2 {
    color: midnightblue;
}

table {
  display: table;
  height: 60%;
  border: 2px solid midnightblue;
  margin: 40px;
  text-align: left;
  
}
 
th {
    text-align:center;
    background-color: dodgerblue;
    height: 40px;
}

td {
     border-top: 1px solid midnightblue;
     border-right: 1px solid midnightblue;
   
    
}
<<<<<<< HEAD:Resources/css/index.css
=======

tbody tr:hover {
    background-color:#edf10d;
}        
   
>>>>>>> e0029c2c3c49093c776a5a67918241298582b8c7:Resources/index.css
tbody li {
    margin-left: -20px;
}

.first-column {
    width: 170px;
    font-weight: bold;
}
.last-column {
    width: 250px;
}
 span {
     font-weight:700;
 }
 tbody tr:hover {
    background-color:#edf10d;
}
